.confirmation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.confirmation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.confirmation-header {
  color: #6998AB;
  margin-bottom: 30px;
}

.confirmation-item {
  margin-bottom: 20px;
  color: rgb(109, 109, 109);
}

.btn {
  background-color: #6998AB;
  color: white;
  white-space: nowrap;
  margin-top: 20px;
}

.btn:hover {
  background-color: #B1D0E0;
  color: white;
  border: #B1D0E0;
}

.btn:active {
background-color: white;
color: #B1D0E0;
border: #B1D0E0;
}