<div class="confirmation-container">

    <div class="confirmation-items">
        <h1 class="confirmation-header">Order Complete</h1>
        <div class="confirmation-item">Thank you, <strong>{{ order.customerName }}</strong>!</div>
        <div class="confirmation-item">Your <strong>${{ order.totalAmount }}</strong> order is confirmed!</div>
        <div class="confirmation-item">Please allow 1-3 business day(s) for shipping.</div>
        
        <button [routerLink]="'/'" class="btn">Back to product list</button>
    </div>

</div>