
<div class="py-4">
    <nav class="navbar fixed-top navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#">My Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavBar" aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavBar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" routerLink="/cart">
                        Cart
                        <span *ngIf="totalItemsInCart > 0" class="badge position-absolute top-10 start-100 translate-middle rounded-pill badge-custom">
                            {{ totalItemsInCart }}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>