@import '~ngx-toastr/toastr';

body {
    margin-top: 64px;
    font-family: "Montserrat";
}

#toast-container > div {
    white-space: nowrap;
    text-align: center;
    width: auto;
  }

.toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
}

.toast-success {
    background-color: #406882 !important;
}

.toast-error {
    background-color: #BD362F !important;
}

.toast-info {
    background-color: #2F96B4 !important;
}

.toast-warning {
    background-color: #F89406 !important;
}

